<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi This is Abhishek Singh, Devops Engineer by profession and Gamer by passion. I'm a devops engineer with more than 3 years of experience in Linux, Monitoring and Devops. I'm huge Open source supporter and Linux lover. In free time I love to play Minecraft and Valorant. In my free time, I love to read suspense and thriller stories. I love to explore new technologies and right now i am working on my Automated GameServer(Minecraft/Ark) with auto healing and auto-scalling feature. </p>
      </div>
      <div class="col-lg-4">
        <p>As a DevOps Engineer with 3 years of experience in AWS, Kubernetes, and Terraform, I bring a unique set of skills to the table. I have the ability to design and implement cloud infrastructure using AWS, automate deployment and scaling of applications using Kubernetes, and manage infrastructure as code using Terraform. My expertise in these tools and technologies allows you to provide efficient and scalable solutions for organizations looking to modernize their application development and deployment processes.</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
