<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm Abhishek Singh, a seasoned DevOps engineer with 4 years of experience in Kubernetes, Docker, Ansible, monitoring, logging, and CI/CD. I've had the pleasure of working with several client(Zenatix, QuickRide, ADTL etc) to build and maintain their DevOps infrastructure.

          My expertise lies in containerization and orchestration with Kubernetes, and I have hands-on experience in building, scaling, and managing complex Kubernetes clusters. I am also skilled in automation with Ansible, enabling fast and consistent deployments.</p>
      </div>
      <div class="col-lg-4">
        <p>In addition, I have extensive experience designing and implementing CI/CD pipelines for a variety of applications, enabling fast and reliable software delivery. My passion for monitoring and logging ensures that I build resilient, fault-tolerant, and highly available systems that are always performing optimally.
          
          I am a strong believer in the DevOps culture, and I strive to promote collaboration between development and operations teams to deliver high-quality software. In my free time, I enjoy tinkering with new technologies and sharing my knowledge with others. I am excited to contribute to open-source projects and collaborate with like-minded individuals.</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
